<ion-view view-title="Browse">
  <ion-content>
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="search">
    </label>
    <ul class="list">
        <li class="item item-icon-right" ng-repeat="trend in trending | filter:search | orderBy:'trend.people'" ng-click="passer(trend.key);">
            {{trend.name}}
        <i class="icon ion-ios-people">
            {{trend.people}}
        </i>
        </li>
    </ul>
  </ion-content>
</ion-view>
