<ion-view view-title="New Goal">
  <ion-content>

    <div class="list">
        <div class="item item-button-right">
            Invite Buddies
             <button class="button button-positive" ng-click="addTextField()">
                <i class="ion-plus"></i>
             </button>
        </div>
    </div>

    <div class="list">
      <label data-ng-repeat="field in fields" class="item item-input item-floating-label">
        <span class="input-label"> Challenger E-mail</span>
        <input class="input-type" type="text" placeholder="Challenger E-mail" ng-click="field.name">
      </label>
    </div>

    <!-- temporary style -->
    <div class="challengeButton">
        <button class="button button-positive" ng-click="go('app/dashboard')"> 
            Challenge!
        </button>
    </div>

  </ion-content>
</ion-view>



