<ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Challenge Overview</h1>
        <button class="button">Accept</button>
      </ion-header-bar>
      <ion-content class="padding">
      
        <span class="chlg-difficulty">
          <i class="ion-ios-bolt"></i>
          <i class="ion-ios-bolt"></i>
        </span>
        
        <p class="chlg-heading">
          Workout Plan
        </p>
        
        <p class="chlg-subheading">
          <span class="subheading-item">
            <i class="icon ion-android-time"></i> two weeks
          </span>
          <span class="subheading-item">
            <i class="icon ion-pricetag"></i> fitness
          </span>
        </p>
        
        <p class="chlg-subheading">
          <span class="subheading-item">
            <i class="icon ion-ios-people"></i> 309 challengers, including <u>50 Cent</u>, <u>Kanye West</u> and <u>Jay Z</u>
          </span>
        </p>
        
        <div class="list card">
        
          <div class="item item-divider">
            Tasks (Days)
          </div>
      
          <div class="item item-icon-left item-date item-compact">
            <i class="icon date right-bar">01</i>
            <ul>
              <li class="item">Walk 30 minutes</li>
            </ul>
          </div>
        
          <div class="item item-icon-left item-date item-compact">
            <i class="icon date right-bar">02</i>
            <ul>
              <li class="item">Walk 15 minutes</li>
              <li class="item">Look yourself in the mirror</li>
            </ul>
          </div>
          
          <div class="item item-icon-left item-date item-compact">
            <i class="icon date right-bar">03</i>
            <ul>
              <li class="item">Do 30 push ups</li>
            </ul>
          </div>
          
          <div class="item item-icon-left item-date item-compact">
            <i class="icon date right-bar">04</i>
            <ul>
              <li class="item">Walk 45 minutes</li>
            </ul>
          </div>
          
          <div class="item item-icon-left item-date item-compact">
            <i class="icon date right-bar">05</i>
            <ul>
              <li class="item">Run 30 minutes</li>
              <li class="item">Walk 15 minutes</li>
            </ul>
          </div>
          
        </div>
      </ion-content>
    </ion-pane>
