<ion-view view-title="Challenge Overview" ng-model="overview">
      <ion-content class="padding">
        <span class="chlg-difficulty">
          <i class="ion-ios-bolt"></i>
          <i class="ion-ios-bolt"></i>
        </span>
        
        <p class="chlg-heading">
          {{ overview.name }}
        </p>
        
        <p class="chlg-subheading">
          <span class="subheading-item">
            <i class="icon ion-android-time"></i> {{ overview.duration }}
          </span>
          <span class="subheading-item">
            <i class="icon ion-pricetag"></i> fitness
          </span>
        </p>
        
        <p class="chlg-subheading">
          <span class="subheading-item">
            <i class="icon ion-ios-people"></i> {{ overview.completed }} challengers, including <u>50 Cent</u>, <u>Kanye West</u> and <u>Jay Z</u>
          </span>
        </p>
        
        <div class="list card">
        
          <div class="item item-divider">
            Tasks (Days)
          </div>
      
          <div class="item item-icon-left item-date item-compact" ng-repeat="task in overview.tasks">
            <div ng-repeat="(key, value) in task">
            <i class="icon date right-bar">{{ key }}</i>
            <ul>
              <li class="item">{{ value }}</li>
            </ul>
            </div>
          </div>
        
        <button class="button button-block taunt" ng-click="go('/app/invite')">
          Accept!
        </button>

      </ion-content>
    </ion-view>
