/* Empty. Add your own CSS if you like */

/* Applies to each ion-view */
ion-view[view-title]  {
    background-image: url("../img/restaurant.png");
}

ion-content {
    overflow-y: hidden !important;
}

ion-side-menus {
    background-color: black;
}

button.taunt {

    background-color: transparent;
    border-radius: 5px;

    &:after {
        display: none !important;
    }

    &:before {
        border-radius: 5px;
        content: "";
        position: absolute;
        background-color: #F17676;
        z-index: -1;
        top: 0;
        bottom: 0;
        right: 8px;
        left: 8px;
    }

}

.login-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button.button-dark{
/*	position: absolute;
s	bottom: 20%;
	left: 15%;
*/	background-color: #461255
}

/*.lightning-image {
	position: absolute;
	left: 20%;
	top: 10%;
}
*/
/*Dashboard headers */
div.item-divider {
	font-family: 'fira_sansbold';
}

.item {
	font-family: 'fira_sansbook';
}

.card {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.71);
}

/* Progress */
progress:not(value) {
	/* Add your styles here. As part of this walkthrough we will focus only on determinate progress bars. */
}

/* Styling the determinate progress element */

progress[value] {
	/* Get rid of the default appearance */
	appearance: none;
	
	/* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
	border: none;
	
	/* Add dimensions */
	width: 100%; height: 20px;
	
	/* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
	  border-radius: 3px;
	  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
	
	/* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
	color: royalblue;
	
	position: relative;
	margin: 0 0 1.5em; 
}

/*
Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
-webkit-progress-bar -> To style the progress element container
-webkit-progress-value -> To style the progress element value.
*/

progress[value]::-webkit-progress-bar {

	color: #8DCCC9;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
	background: #8DCCC9;
	position: relative;
	color: #8DCCC9;
	background-size: 35px 20px, 100% 100%, 100% 100%;
	border-radius:3px;
	
	

/* Let's spice up things little bit by using pseudo elements. */

progress[value]::-webkit-progress-value:after {
	/* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! */
	content: '';
	position: absolute;
	color: #8DCCC9;
	width:5px; height:5px;
	top:7px; right:7px;
	
	background-color: white;
	background: #8DCCC9;
	border-radius: 100%;
}

/* Firefox provides a single pseudo class to style the progress element value and not for container. -moz-progress-bar */

progress[value]::-moz-progress-bar {
	color: #8DCCC9;
	background: blue;
	/* Gradient background with Stripes */
	background-image:
	-moz-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -moz-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #f44);
	
	background-size: 35px 20px, 100% 100%, 100% 100%;
	border-radius:3px;
	
	/* Firefox doesn't support CSS3 keyframe animations on progress element. Hence, we did not include animate-stripes in this code block */
}

/* Fallback technique styles */
.progress-bar {
	background: #8DCCC9;
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

	/* Dimensions should be similar to the parent progress element. */
	width: 100%; height:20px;
}



p[data-value] { 
  
  position: relative; 
}

/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */

p[data-value]:after {
	content: attr(data-value) '%';
	position: absolute; right:0;
	color: #8DCCC9;
}





.html5::-webkit-progress-value,
  {
	background: #8DCCC9;
	/* Gradient background with Stripes */
	background-image:
	-webkit-linear-gradient( 0deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -webkit-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #f44);
}


}

/* Fonts */
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 23, 2016 */
@font-face {
    font-family: 'fira_sansbold';
    src: url('../fonts/firasans-bold-webfont.eot');
    src: url('../fonts/firasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-bold-webfont.woff2') format('woff2'),
         url('../fonts/firasans-bold-webfont.woff') format('woff'),
         url('../fonts/firasans-bold-webfont.ttf') format('truetype'),
         url('../fonts/firasans-bold-webfont.svg#fira_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fira_sansbook';
    src: url('../fonts/firasans-book-webfont.eot');
    src: url('../fonts/firasans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-book-webfont.woff2') format('woff2'),
         url('../fonts/firasans-book-webfont.woff') format('woff'),
         url('../fonts/firasans-book-webfont.ttf') format('truetype'),
         url('../fonts/firasans-book-webfont.svg#fira_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fira_sanshair';
    src: url('firasans-hair-webfont.eot');
    src: url('firasans-hair-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-hair-webfont.woff2') format('woff2'),
         url('firasans-hair-webfont.woff') format('woff'),
         url('firasans-hair-webfont.ttf') format('truetype'),
         url('firasans-hair-webfont.svg#fira_sanshair') format('svg');
    font-weight: normal;
    font-style: normal;

}


.challengeButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


@font-face {
    font-family: 'fira_sansmedium';
    src: url('firasans-medium-webfont.eot');
    src: url('firasans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-medium-webfont.woff2') format('woff2'),
         url('firasans-medium-webfont.woff') format('woff'),
         url('firasans-medium-webfont.ttf') format('truetype'),
         url('firasans-medium-webfont.svg#fira_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sansregular';
    src: url('firasans-regular-webfont.eot');
    src: url('firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-regular-webfont.woff2') format('woff2'),
         url('firasans-regular-webfont.woff') format('woff'),
         url('firasans-regular-webfont.ttf') format('truetype'),
         url('firasans-regular-webfont.svg#fira_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.sidebar {
    background-color: #3f4041 !important; /* This sets the background color*/
}

/*Set the background to transparent for ion-item*/
.sidebar .item {
    background-color: transparent;
    border:none;   /*Removes all borders*/
    border-top: 1px solid;   /*Top Border for each menu item*/
    border-bottom:2px solid;   /*Bottom border for each menu item*/
    border-color: #666;   /*Sets colors for top and bottom border*/
    color: white;    /*Text color for each item*/
}

/*Changes the border for the last item*/
.sidebar .item:last-child {
    border-bottom: 1px solid #666;
}

.sidebar .item-complex .item-content, .dark .item-radio .item-content {
    background-color: transparent;
}

/*Just makes the type white*/
.sidebar h2,
.sidebar h3,
.sidebar p,
.sidebar a {
    color: white;  /*Text color for each item, overrides the color property above*/
}

/* Styles for dashboard */
.center-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.minimize-fonts {
    font-size: 14px;
}

i.ion-ios-bolt {
    font-size: 14px;
}
