/* Empty. Add your own CSS if you like */

/* Applies to each ion-view */
ion-view[view-title]  {

font-family: Georgia;
background: #C04848; /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #C04848 , #480048); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #C04848 , #480048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}

.button.button-dark{
	position: absolute;
	bottom: 20%;
	left: 15%;
	background-color: #461255
}